/* Bigger logo */
.md-header__button.md-logo img {
    height: 52px;

    /* White glow around logo only */
    filter: drop-shadow(0 0 6px rgba(255,255,255,0.7))
            drop-shadow(0 0 12px rgba(255,255,255,0.5));
    
    transition: all 0.3s ease;
}

/* Optional stronger glow on hover */
.md-header__button.md-logo img:hover {
    filter: drop-shadow(0 0 10px rgba(255,255,255,0.9))
            drop-shadow(0 0 20px rgba(255,255,255,0.7));
}


/* Increase header height */
.md-header {
    height: 78px;
}
